.invalid {
  background: rgba(255, 250, 250, 0.8)
}

img { max-width: 100%; }
img.avatar { width: 50px; }
/* avatar, when shown in recipient lists, etc */
li img.avatar { width: 30px; }
img.emoji { width: 16px; }

div.main {
  /*padding at the top, to allow space for nav bar */
  padding-top: 100px;
  max-width: 800px; margin-left: auto; margin-right: auto;
}
div.Message {
  margin: 50px;
  display: flex;
  flex-direction: row;
}
div.MessageMeta {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 15px;
  width: 75px;
}
.Avatar {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.msgId {
  overflow: hidden;
  font-family: monospace;
  color: gray;
  width: 75px;
  word-break: keep-all;
}
.Recipients {
  display: flex; flex-direction: row;
}

#AppHeader {
  position: fixed;
  min-width: auto;
  width: 100%;
  height: 50px;
  margin-top: 0px;
  top: 0px;
  background: white;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.IdentitySelector button {
  max-width: 100px;
  overflow: hidden;
  word-break: keep-all;
}

/*
  drop down menu, functional aspects
*/

._menu {
  margin: 1px;
}

._menu ul {
  padding: 0px;
  margin: 0px;
  position: absolute;
  /*left: -9999px;
  apparently this is better for screen readers, but I couldn't get it to work nicely*/
  display: none;
  list-style: none;
}
._menu li {
  position: relative;
}

._menu:hover ul {
  display: block;
}

textarea {
  width: 100%;
  height: 100px;
}
